body {
    margin: 0;
    overflow: hidden;
}
canvas {
    display: block;
}
#gui {
    position: absolute;
    top: 10px;
    right: 10px;
}
#projectDetails {
    position: absolute;
    top: 50px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    display: none;
}
